@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.card__top {
  &::before {
    left: -5px;
    bottom: -5px;
  }

  &::after {
    right: -5px;
    bottom: -5px;
  }
}

.card__bottom {
  &::before {
    left: -5px;
    top: -5px;
  }

  &::after {
    right: -5px;
    top: -5px;
  }
}

.card__top,
.card__bottom {
  &::before,
  &::after {
    background-color: hsl(235, 16%, 14%);
    border-radius: 50%;
    position: absolute;
    content: ' ';
    display: block;
    height: 10px;
    width: 10px;
  }
}